<body _ngcontent-rcl-c202="" class="fondo" >
    <div class="login-body">
    <div _ngcontent-rcl-c202="" id="login-wrapper">
        <div _ngcontent-rcl-c202="" id="login-container">
            <span _ngcontent-rcl-c202="" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 30px;">Ingreso</span>
                <div _ngcontent-rcl-c202="" class="ui-g ui-fluid">
                    <div _ngcontent-rcl-c202="" class="ui-g-12">
                      
                        <p _ngcontent-rcl-c202=""> Para ingresar en este aplicativo necesitas ser miembro de la comunidad educativa @tecazuay.edu.ec </p>
                   
                    </div>
                        <div _ngcontent-rcl-c202="" class="ui-g-12 ui-md-12">
                        </div>
                            <div _ngcontent-rcl-c202="" class="ui-g-12">
                                <button _ngcontent-rcl-c202="" type="button" class="boton_1" (click)="btnClick()">
                                 <!--   <span _ngcontent-rcl-c202="" class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>-->
                                        <span _ngcontent-rcl-c202="" >Ingresar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                <div _ngcontent-rcl-c202="" class="login-footer"> Instituto Superior Tecnológico del Azuay</div></div>
            </div>
            </body>