element.style {
}

body {
    font-family: Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #edf0f5;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}
